@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Informacion.cshtml";
}

<section class="aboutBI" id="aboutBI">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Acerca de BI</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media"><img src="~/Imagenes/BI.png" alt="" class="img-responsive"></div>
            <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
                <p class="parrafos sangria">
                    Cuando hablamos de la educación y su significado, lo que realmente nos interesa es saber
                    cómo podemos inculcar en los niños y jóvenes conocimientos que les hagan ser mejores alumnos
                    y personas. ¿Cómo podemos asegurarnos de que les estamos  proporcionando las habilidades necesarias
                    para crecer, desarrollarse, tener éxito y ser felices en la vida? En nuestro 50.º aniversario, estamos
                    más dedicados que nunca al desarrollo de una educación internacional que contribuya a crear un mundo mejor.
                </p>
                <p class="parrafos sangria">
                    El IB ofrece una educación para alumnos de 3 a 19 años compuesta por cuatro programas
                    que se centran en enseñar a los alumnos a pensar de manera crítica e independiente, así
                    como a ser indagadores, solidarios y lógicos. La educación del IB prepara a los alumnos
                    para tener éxito en un mundo donde la información fáctica se mezcla en la prensa con la
                    ficticia, y donde saber plantear buenas preguntas es una habilidad esencial que les permitirá
                    seguir progresando mucho después de finalizar nuestros programas. Los educadores y coordinadores
                    de programas del IB que nos ayudan a hacerlo posible participan cada día en el desarrollo y la
                    promoción de nuestros currículos en casi 5.000 colegios de más de 150 países de todo el mundo.
                </p>

            </div>

        </div>
    </div>
</section>


<section id="intro" class="section finBI">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <p class="parrafos">
                <b>
                    Más de 4.000 colegios en el mundo han optado por impartir los programas del Bachillerato Internacional® (IB) debido a su
                    incomparable rigor académico y a su dedicación al desarrollo personal de los alumnos.
                </b>
            </p>
            <p class="parrafos">
                <b>
                    El colegio Blilingüe de Palmares y el Liceo de Costa Rica fueron
                    los primeros colegios públicos en implementar este programa en el año 2008.
                </b>
            </p>
        </div>
    </div>
</section>

<section id="introBI" class="section introBI wow fadeInLeft" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="intro-contentBI">
                    <h2>Programa del Diploma de Bachillerato Internacional</h2>
                </div>

                <!-- intro -->
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-6">
                <div class="intro-contentBI">
                    <p>
                        <br />
                        Es un sistema novedoso y diferente de enseñanza – aprendizaje con énfasis en la participación
                        activa del estudiante en su proceso de formación, desarrollando el pensamiento crítico y enriqueciéndose intelectual, social y humanamente de
                        las diferentes experiencias vivenciales del programa.
                    </p>
                </div>

                <!-- intro -->
            </div>
        </div>
    </div>
</section>

<section id="introBI" class="section introBI wow fadeInLeft">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="intro-contentBI">
                    <h2>Tiene una duración de 2 años, al final el estudiante recibe dos títulos:</h2>
                </div>

                <!-- intro -->
            </div>
            <div class="col-md-7  col-md-offset-1 col-sm-6">
                <div class="intro-contentBI">
                    <p>
                        1 – Título de Bachiller Internacional, otorgado por la Organización del Bachillerato Internacional (IBO), organización  educativa internacional,
                        no gubernamental, sin fines de  lucro con sede en Ginebra, Suiza.
                    </p>
                    <p>
                        2 – Título Bachillerato Nacional, otorgado por el Ministerio de Educación
                        Pública de Costa Rica.
                    </p>
                </div>

                <!-- intro -->
            </div>
        </div>
    </div>
</section>

<div class="col-md-12 text-center materiasHeading" style="padding-top:1cm;">
    <h2>Actualmente hay alumnos matriculados en las siguientes asignaturas: </h2>
</div>

<section id="services" class="services service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 services text-center">
                <div class="services-content">
                    <h5>BIOLOGÍA</h5>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <div class="services-content">
                    <h5>HISTORIA</h5>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <div class="services-content">
                    <h5>INGLÉS B</h5>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <div class="services-content">
                    <h5>TEORÍA DEL CONOCIMIENTO</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <div class="services-content">
                    <h5>TECN. DE LA INFO. EN UNA SOCIEDAD GLOBAL</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <h5>ESTUDIOS MATEMÁTICOS</h5>
            </div>
        </div>
    </div>
</section>




