<!DOCTYPE html>

@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Informacion.cshtml";
}
<head>
    <link href="~/Content/BI.css" rel="stylesheet" />
</head>
<section>
    <div class="row container text-center">
        <div class="col-md-12 col-sm-12 " style="padding-bottom: 1.8cm; box-shadow: 0 0 20px #202020; background-image: url('../../Imagenes/fondo2.jpg'); border-radius: 10px;">
            <img src="~/Imagenes/BI Titulo.png" />
        </div>
    </div>

    <div class="row container text-center col-md-12">
        <div class="col-md-12 text-center" style="padding-top:1cm;">
            <h1>
                Acerca de BI
            </h1>
        </div>

        <div class="col-md-12 text-center wow slideInLeft">
            <p>
                Cuando hablamos de la educación y su significado, lo que realmente nos interesa es saber
                cómo podemos inculcar en los niños y jóvenes conocimientos que les hagan ser mejores alumnos
                y personas. ¿Cómo podemos asegurarnos de que les estamos  proporcionando las habilidades necesarias
                para crecer, desarrollarse, tener éxito y ser felices en la vida? En nuestro 50.º aniversario, estamos
                más dedicados que nunca al desarrollo de una educación internacional que contribuya a crear un mundo mejor.
            </p>
            <p>
                El IB ofrece una educación para alumnos de 3 a 19 años compuesta por cuatro programas
                que se centran en enseñar a los alumnos a pensar de manera crítica e independiente, así
                como a ser indagadores, solidarios y lógicos. La educación del IB prepara a los alumnos
                para tener éxito en un mundo donde la información fáctica se mezcla en la prensa con la
                ficticia, y donde saber plantear buenas preguntas es una habilidad esencial que les permitirá
                seguir progresando mucho después de finalizar nuestros programas. Los educadores y coordinadores
                de programas del IB que nos ayudan a hacerlo posible participan cada día en el desarrollo y la
                promoción de nuestros currículos en casi 5.000 colegios de más de 150 países de todo el mundo.
            </p>

        </div>

    </div>

    <div class="row container text-center col-md-12" style="margin-top:1cm;">
        <div id="espacio" class="col-md-12 col-sm-12 text-center wow rotateInDownLeft" style=" box-shadow: 0 0 20px #202020;border: solid 5px lightskyblue;border-radius:10px;">
            <h1>Programa del Diploma de Bachillerato Internacional</h1>
            <p>
                Es un sistema novedoso y diferente de enseñanza – aprendizaje con énfasis en la participación
                activa del estudiante en su proceso de formación, desarrollando el pensamiento crítico y enriqueciéndose intelectual, social y humanamente de
                las diferentes experiencias vivenciales del programa.
            </p>
        </div>

        <div id="espacio" class="col-md-12 col-sm-12 text-center wow rotateInDownRight" style=" box-shadow: 0 0 20px #202020;border: solid 5px lightskyblue;border-radius:10px;">
            <h1>Tiene una duración de 2 años, al final el estudiante recibe dos títulos:</h1>
            <div class="text-left">
                <p>
                    1 – Título de Bachiller Internacional, otorgado por la Organización del Bachillerato Internacional (IBO), organización  educativa internacional,
                    no gubernamental, sin fines de  lucro con sede en Ginebra, Suiza.
                </p>
                <p>
                    2 – Título Bachillerato Nacional, otorgado por el Ministerio de Educación
                    Pública de Costa Rica.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center" style="padding-top:1cm;">
            <h1>Actualmente hay alumnos matriculados en las siguientes asignaturas: </h1>
        </div>
    </div>

    <div class="table-responsive row container text-center col-md-12 col-sm-12 wow slideInUp" style="box-shadow: 0 0 20px #202020;border: solid 5px lightskyblue;border-radius:10px;background-color: lightblue">
        <table class="table" style="margin: 0 auto;">
            <tr>
                <td>
                    <ul>
                        <li>*BIOLOGÍA</li>
                        <li>*HISTORIA</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>*INGLÉS B</li>
                        <li>*TEORÍA DEL CONOCIMIENTO</li>
                        <li>*TECN. DE LA INFO. EN UNA SOCIEDAD GLOBAL</li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>*ESTUDIOS MATEMÁTICOS</li>
                        <li>*ESPAÑOL A: LITERATURA</li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>

    <div class="row">
        <div class="col-md-2" style="padding-top:1cm;">
        </div>
        <div class="col-md-8 text-center wow slideInUp" style="padding-top:1cm;">
            <p>
                <b>
                    Más de 4.000 colegios en el mundo han optado por impartir los programas del Bachillerato Internacional® (IB) debido a su
                    incomparable rigor académico y a su dedicación al desarrollo personal de los alumnos.
                </b>
            </p>
            <p>
                <b>
                    El colegio Blilingüe de Palmares y el Liceo de Costa Rica fueron
                    los primeros colegios públicos en implementar este programa en el año 2008.
                </b>
            </p>
        </div>
        <div class="col-md-2" style="padding-top:1cm;">
        </div>
    </div>
</section>
