@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Informacion.cshtml";
}


<section class="tituloInfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Liceo y comunidad</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="services" class="lc-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Actividades Deportivas</h2>
                        <div class="divider-header"></div>
                        <p class="parrafos">
                            El liceo de Puriscal esta caracterizado por contar con muchas activiades para incitar a los estudiantes hacer deportes
                            Actualmente la institucion cuenta con equipos deportivos en varias ramas como las son:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.3s">
                    <div class="lc-icon">
                        <span class="fas fa-basketball-ball fa-6x"></span>
                    </div>
                    <h2>Basketball</h2>

                </div>
            </div>
            <div class="col-md-4">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="lc-icon">
                        <span class="fas fa-futbol fa-6x"></span>
                    </div>
                    <h2>Futboll</h2>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="services" class="lc-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Banda del Liceo de Puriscal</h2>
                        <div class="divider-header"></div>
                        <p class="parrafos">
                            Para nuestra institucion es muy importante destacar la labor elaborada por los profesores del area de Musica en la instucion. Ya que gracias a ellos,
                            el desempeño de nuestra banda ha logrado reconocimientos dentro como fuera del canton
                            Cada descatar que cualquier estudiante de la comunidad educativa puede ingresar a la banda, cumpliento ciertos requerimientos.
                            <br />
                            Tocar cualquiera de los distintos instrumentos:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.1s">

                    <h2>Tambor</h2>

                </div>
            </div>
            <div class="col-md-4">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.2s">

                    <h2>Trompeta</h2>

                </div>
            </div>
            <div class="col-md-4">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.3s">

                    <h2>Saxofon</h2>

                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">

                    <h2>Lira</h2>

                </div>
            </div>
        </div>
    </div>
</section>
