@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Informacion.cshtml";
}





<h2> Liceo y comunidad</h2>


<div>
    <h3>Actividades Deportivas</h3>
    <p>
        El liceo de Puriscal esta caracterizado por contar con muchas activiades para incitar a los estudiantes hacer deportes
        Actualmente la institucion cuenta con equipos deportivos en varias ramas como las son:
    </p>
    
    <ol>
        <li>Futbol</li>
        <li>Bascket</li>
    </ol>

    <p>Es importante destacar que las lecciones de educacion fisica son impartidas en el Gimnasio de la instucion, permitiendoles a los estudiantes realizar cualquier
    actividad que desee realizar</p>

</div>


<div>
    <h3>Banda del Liceo de Puriscal</h3>

    <p>
        Para nuestra institucion es muy importante destacar la labor elaborada por los profesores del area de Musica en la instucion. Ya que gracias a ellos,
        el desempeño de nuestra banda ha logrado reconocimientos dentro como fuera del canton

        Cada descatar que cualquier estudiante de la comunidad educativa puede ingresar a la banda, cumpliento ciertos requerimientos.
    </p>

    <p>Actividades que puedes realizar siendo parte de la banda</p>
    <ol>
        <li>Tocar cualquiera de los distintos instrumentos:
        <ol>
            <li>Tambor</li>
            <li>Trompeta</li>
            <li>Saxofon</li>
            <li>Lira</li>
            <li>Tambor</li>
        </ol>
        </li>
        <li>Ser parte de las bastoneras</li>
        <li>Ser parte de los abanderados</li>
    </ol>
</div>


