@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Informacion.cshtml";
}


<div class="container text-center">


    <div class="row margin-bottom--big">
        <h1 class="titulos">Filosofias</h1>
        <p class="parrafos">
            Nuestra filosofía está enfocada hacia el desarrollo integral del ser humano, en la búsqueda constante del mejoramiento del ambiente
            institucional orientado a enfrentar los retos de un mundo cambiante
        </p>
    </div>



    <div class="row">
        <h1 class="titulos">Mision</h1>
        <p class="parrafos">
            Formar estudiantes críticos, conscientes de sus deberes y derechos, motivados, con mentalidad abierta, capaces de desarrollar sus
            proyectos de vida.
        </p>
    </div>

    <div class="row">
        <h1 class="titulos">Vision</h1>
        <p class="parrafos">
            Ser la institución académica líder de la Región Educativa de Puriscal, al ofrecer una excelente alternativa para los futuros profesionales
            en las diversas áreas para el desarrollo de la humanidad, la cual está enmarcada en la vivencia de los valores humanos.
        </p>
    </div>



    <div class="row">
        <h1 class="titulos">Promocion de valores</h1>
        <ol>
            <li class="parrafos">
                El Liceo de Puriscal, en el marco del desarrollo de la promoción de la persona humana promueve los siguientes valores:
                <ul>
                    <li>•Respeto</li>
                    <li>•Tolerancia</li>
                    <li>•Honestidad</li>
                    <li>•Libertad</li>
                    <li>•Solidaridad</li>
                    <li>•Sensibilidad humana</li>
                </ul>
            </li>
        </ol>
    </div>

    <div class="row">
        <h1 class="titulos">Objetivos Generales</h1>
        <p class="parrafos"> Brindar a los educandos una educación de calidad, fortaleciendo valores, conocimiento y actitudes para la vida.</p>
        <p class="parrafos">
            Apoyar la labor administrativo-docente, en el desarrollo de los procesos de mediación pedagógica, a partir del uso de tecnologías educativas
            y otros recursos.
        </p>
        <p class="parrafos">
            Integrar activamente a la comunidad educativa en los proyectos de formación desarrollados en los distintos niveles del sistema educativo
            nacional.
        </p>

    </div>


    <div class="row">
        <h1 class="titulos">Objetivos Especificos</h1>

        <p class="parrafos">
            Promover el acceso al personal docente y administrativo, a charlas, capacitaciones, talleres, seminarios, cursos, conferencias u otras
            actividades que incremente, faciliten y promuevan el quehacer general de la comunidad educativa.
        </p>
        <p class="parrafos">
            Facilitar el acceso a la persona estudiante, según sus necesidades educativas para que participen en diversas actividades orientadas a
            potenciar su formación como individuos de la sociedad costarricense.
        </p>
        <p class="parrafos">
            Incentivar la participación de la institución en general, en los comités creados para promover el beneficio de la comunidad educativa.
        </p>

        <p class="parrafos">Incorporar a los padres y madres de familia y a la comunidad en general en las actividades desarrolladas promovidas por la institución.></pincorporar>

    </div>
</div>


