@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Informacion.cshtml";
}



<div class="container ">

    <div class="text-center">
        <h3 class="titulos">Reseña Histórica del Liceo de Puriscal</h3>
    </div>


    <div class="row">
        <div class="col-md-6 margin-bottom--big">
            <p class="parrafos sangria">
                   A mediados de los años 40 un grupo de vecinos de Puriscal tomó conciencia de la necesidad de que el cantón contara con un centro de segunda enseñanza.
                Fue así como don Luis Castro, don Ricardo Castro y don Salustio García iniciaron la lucha por fundar un colegio, contando con el apoyo del diputado
                puriscaleño Gilberto Charpentier. Gracias al empeño de estas personas y al apoyo de los habitantes del cantón en 1945 inició la segunda enseñanza en
                Puriscal, con el nombre de Escuela Complementaria.  Pues solamente llegaba hasta noveno año.
                La Escuela Complementaria  no tenía edificio propio para impartir lecciones, por lo que fue necesario utilizar el antiguo edificio de la Escuela
                Darío Flores, actualmente ocupada por el Palacio Municipal.  Se inició con un grupo de 36 estudiantes de sétimo año recibiendo lecciones solo por la
                tarde, bajo la dirección de Roberto Sancho.
                Durante muchos años la Escuela Complementaria careció de edificio propio, incluso el director de la Escuela intentó desalojarlos, pero no lo logró;
                por el contrario cada año aumentaba el número de la matrícula de la enseñanza secundaria.


            </p>
        </div>

        <div class="col-md-6">

            <p class="parrafos sangria">
                   En 1950 fue creado la letra y la música del himno, compuestas por Virgilio Chavarría y Juan Rafael Alfaro respectivamente. 1953, el presidente de la
                República, Otilio Ulate Blanco inauguró el edificio de la Escuela Complementaria, el actual edificio donde se encuentra la biblioteca, declarado
                patrimonio arquitectónico.
                Es en 1954 cuando la Escuela Complementaria pasa a llamarse Liceo de Puriscal, que tiene su primer graduación en el año 1957.
                En 1964 se creó la rama agropecuaria y se compró una finca para desarrollarla, las que serían la base para la creación, en 1976 del Colegio Técnico
                Profesional de Puriscal.
                En 1976 se construyó el Gimnasio y el Taller de Artes Industriales y en 1978 el Laboratorio de Química y el Comedor.
            </p>
        </div>
    </div>

    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-10 media"><img src="~/Imagenes/2017-11-10.png" alt="" class="img-responsive wow fadeInLeft"  width="300" height="300"></div>

    <div>
        <h3 class="titulos" style="font-size:30px;">Sintesis de datos</h3>
        <ol class="parrafos">
            <li>1.Año de Fundación: 1945</li>
            <li>2.Dirección Regional y Circuito al que pertenecen: Dirección Regional de Puriscal,Circuito 01.</li>
            <li>3.Comunidad a la que sirven: Santiago de Puriscal y distritos del cantón, inclusive algunos estudiantes vienen de cantones vecinos.</li>
            <li>4.Características de la Comunidad: Es una comunidad de base rural con proceso de transición hacia la urbanidad.  La base de la comunidad que atiende la institución es de ascendencia agrícola, pero una parte importante son hijos de profesionales que se trasladan todos los días a trabajar en San José.</li>
            <li>5.Cantidad de Aulas y Laboratorios: Se disponen de 48 aulas académicas, tres talleres de Artes Industriales, tres de Educación para el Hogar, un laboratorio de Informática fijo y otro portátil.</li>
            <li>6.Cantidad de Estudiantes y Profesores: 1225 estudiantes y 78 profesores.</li>
            <li>7.Nombre del Director Actual: Sr. </li>
            <li>8.Especialidades del Centro Educativo (Ciencia, Idioma, Artes, Turismo Etc.): Se imparten especialidades de Informática, Técnicas Secretariales, Dibujo Técnico, Turismo, Contabilidad y Gestión Empresarial.</li>
            <li>9.Principales Logros: A lo largo de los años el Liceo de Puriscal se ha destacas en diversos campos, obteniendo varios primeros lugares en los exámenes de admisión de las universidades públicas, siendo subcampeón del Concurso Antorcha en 1981 y 2001 y campeón en 1985.  También ha tenido destacadas participaciones en Feria Científica Nacional, Feria Nacional de Innovación Educativa, Olimpiadas de Matemática y de Geografía, así como la Olimpiada Iberoamericana en Matemática, las que se han ganado en varias oportunidades. Nuestros estudiantes han obtenido importantes logros deportivos en atletismo a nivel nacional y en los Juegos Centroamericanos y del Caribe, así como en Juegos Deportivos Nacionales.  En Futbol Salón se ha obtenido varios campeonatos en el ámbito masculino y femenino.</li>
        </ol>
    </div>

</div>


