.noticias{
    margin-top:50px;
}


.btn-ghost {
    color: #FFBF00;
    background-color: transparent;
    border-color: #FFBF00;
}

    .btn-ghost:hover,
    .btn-ghost:focus,
    .btn-ghost:active,
    .btn-ghost.active,
    .open .dropdown-toggle.btn-ghost {
        color: #FFF;
        background-color: rgba(0, 0, 0, 0);
        border-color: #FFBF00;
    }

    .btn-ghost:active,
    .btn-ghost.active,
    .open .dropdown-toggle.btn-ghost {
        background-image: none;
    }

    .btn-ghost.disabled,
    .btn-ghost[disabled],
    fieldset[disabled] .btn-ghost,
    .btn-ghost.disabled:hover,
    .btn-ghost[disabled]:hover,
    fieldset[disabled] .btn-ghost:hover,
    .btn-ghost.disabled:focus,
    .btn-ghost[disabled]:focus,
    fieldset[disabled] .btn-ghost:focus,
    .btn-ghost.disabled:active,
    .btn-ghost[disabled]:active,
    fieldset[disabled] .btn-ghost:active,
    .btn-ghost.disabled.active,
    .btn-ghost[disabled].active,
    fieldset[disabled] .btn-ghost.active {
        background-color: transparent;
        border-color: #FFBF00;
    }

    .btn-ghost .badge {
        color: transparent;
        background-color: #FFBF00;
    }

    .btn-ghost:hover,
    .btn-ghost:focus,
    .btn-ghost:active,
    .btn-ghost.active,
    .open .dropdown-toggle.btn-ghost {
        color: #fff;
        background-color: #FFBF00;
        border-color: #FFBF00;
    }

 .news{
     margin-top:40px;

 }

/**/

.post {
    margin-bottom: 60px;
    text-align: center;
}

    .post h3 {
        font-size: 21px;
    }

        .post h3 a {
            color: #000;
        }

    .post .author-category {
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #999999;
        font-size: 13px;
        margin-bottom: 5px;
        text-align: center;
    }

        .post .author-category a {
            color: #555555;
        }

            .post .author-category a:hover {
                color: #ef5285;
            }

    .post .date-comments {
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #999999;
        font-size: 13px;
        text-align: center;
    }

        .post .date-comments a {
            color: #999999;
            margin-right: 20px;
        }

            .post .date-comments a:hover {
                color: #ef5285;
            }

    .post .post__intro {
        font-size: 15px;
        color: #999999;
    }

    .post .image {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
    }

        .post .image img {
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

@media (max-width: 767px) {
    .post .image img.img-responsive {
        min-width: 100%;
    }
}


.margin-bottom--big {
  margin-bottom: 60px !important;
}


.breadcrumb {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  font-size: 13px;
  background-color:white;
}


/** CAROUSELS **/
#carousel-home {
  position: relative;
  margin-top: -60px;
}
#carousel-home h1,
#carousel-home h2,
#carousel-home h3,
#carousel-home h4 {
  font-weight: 700;
  color: #fff;
}
@media (min-width: 1200px) {
  #carousel-home .super-heading {
    font-size: 70px;
  }
  #carousel-home .super-paragraph {
    font-size: 30px;
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  #carousel-home .super-heading {
    font-size: 30px;
  }
  #carousel-home .super-paragraph {
    font-size: 20px;
    font-weight: 300;
  }
}
#carousel-home .carousel-caption .super-paragraph a,
#carousel-home .carousel-caption .super-paragraph a:hover {
  color: #fff;
}
#carousel-home .carousel-caption .super-paragraph a:hover {
  border-color: #fff;
}
/* original solution by https://codepen.io/Rowno/pen/Afykb */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* carousel fullscreen */
.carousel-fullscreen .carousel-inner {
  height: 70vh;
  min-height: 600px;
}
.carousel-fullscreen .carousel-inner .item {
  height: 70vh;
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* overlay for better readibility of the caption  */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.25;
  transition: all 0.2s ease-out;
}
.icon-prev-custom,
.icon-next-custom {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 100;
  display: inline-block;
}
.icon-prev-custom {
  left: 50%;
  margin-left: -10px;
}
.icon-next-custom {
  right: 50%;
  margin-right: -10px;
}
.icon-prev-custom,
.icon-next-custom {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-size: 100px;
}



