.heading {
    text-align: center;
    padding-bottom: 70px;
}

.materia-bor{
    margin-bottom: 65px;
    -webkit-box-shadow: 10px 0px 19px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 10px 0px 19px 4px rgba(0,0,0,0.36);
    box-shadow: 10px 0px 19px 4px rgba(0,0,0,0.36);
}

.materia-bor:hover {
    cursor:pointer;
    -webkit-box-shadow: 10px 0px 19px 4px rgba(245,227,108,1);
    -moz-box-shadow: 10px 0px 19px 4px rgba(245,227,108,1);
    box-shadow: 10px 0px 19px 4px rgba(245,227,108,1);
}


.mismaterias {
    background: #fff;
}

    .mismaterias .container {
        padding-top: 67px;
        padding-bottom: 0;
        margin-bottom: -20px;
    }

.materias-ico {
    padding: 30px 63px 30px 0;
    text-align: right;
    font-family: 'Crimson Text',serif;
    font-size: 21px;
    line-height: 24px;
    color: #ff6a00;
    font-style: italic;
}

.materias-desc {
    border-left: 2px solid #ada5ad;
    padding: 0 0 0 69px;
      margin-top:30px;
       margin-bottom: 20px;
}
   
  

    .materias-desc p {
        padding-bottom: 0;
    }

    .materias-desc h4 {
        font-size: 14px;
        font-weight: 300;
        color: grey;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .materias-desc h5 {
        font-family: 'Crimson Text', serif;
        color: #5b4c5c;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
    }


    .matereiales{
        height:30px;
        
    }