.heading {
    text-align: center;
    padding-bottom: 70px;
}

.materia-bor {
    margin-bottom: 65px;
}

.materia-bor:hover {
    cursor:pointer;
    -webkit-transition: all 400ms ease-out 0s;	
	   -moz-transition: all 400ms ease-out 0s;
		 -o-transition: all 400ms ease-out 0s;
		    transition: all 400ms ease-out 0s;

    -webkit-box-shadow: 10px 0px 19px 4px rgba(245,227,108,1);
    -moz-box-shadow: 10px 0px 19px 4px rgba(245,227,108,1);
    box-shadow: 10px 0px 19px 4px rgba(245,227,108,1);
}


.mismaterias {
    background: #fff;
}

    .mismaterias .container {
        padding-top: 67px;
        padding-bottom: 0;
        margin-bottom: -20px;
    }

.materias-ico {
    padding: 60px 60px 30px 0;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 27px;
    color:#FFD34E;
}

.materias-desc {
    border-left: 2px solid #ada5ad;
    padding: 20px 0 20px 69px;
      margin-top:30px;
       margin-bottom: 20px;
}
   
  

    .materias-desc p {
        padding-bottom: 0;
    }

    .materias-desc h4 {
        font-size: 14px;
        font-weight: 300;
        color: grey;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .materias-desc h5 {
    color:black;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 27px;
    }


    .matereiales{
        height:30px;
        
    }




    .box{
        border:1px solid #BDBDBD;
         padding-top:20px;
         padding-left:30px;
         padding-right:30px;
         background-color:#FFF;
    }