body {
    margin-top: 0;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.section-padding {
    padding: 60px 0px;
}

h1, h2, h3, h4, h5, h6 {
}



.navbar-default {
    background-color: transparent;
}

.main-header {
    background: url(../Imagenes/banner.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
}

.bg-color {
    background-color: RGBA(0, 0, 0, 0.41);
}


.nav > li > a {
    padding: 0px;
}

.navbar-brand {
    padding: 0px;
    height: inherit;
    font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFD34E;
    background-color: transparent;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 0px 20px;
    text-transform: uppercase;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #FFD34E;
    }

.navbar-fixed-top {
    padding: 40px 0;
    transition: all 0.5s;
}

.top-nav-collapse {
    background: rgba(0,0,0,0.8);
    padding: 25px 0;
}


.wrapper {
    padding: 90px 0px 130px;
}

.top-title {
    z-index: 5;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    line-height: 38px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
}

.sub-title {
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    line-height: 71px;
    letter-spacing: 4px;
    opacity: 1;
}

.title {
    font-size: 123px;
    font-weight: 400;
    color: #fff;
    line-height: 95px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    padding: 25px 0px;
}

.btn-submit {
    background: #FFD34E;
    border: 0px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #333;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 25px;
    border: 2px solid #FFD34E;
}

    .btn-submit:hover {
        background: #fff;
    }


/**Intro*/
.intro {
    background-color: #FAAC58;
}


    .intro h3 {
        color: #fff;
        margin-top: 0;
        font-size: 30px;
    }

    .intro p {
        font-family: "Merriweather", Arial, sans-serif;
        color: rgba(255, 255, 255, 0.75);
        font-weight: 400;
    }


/**Servicios**/
.text-services:hover {
    color: black;
    cursor: pointer;
}


.text-services-apoyo {
    color: #DF122E;
}

.text-services-liceoycomunidad {
    color: #8A35F1;
}

.text-services-noticias {
    color: #D06111;
}

.service-box {
    max-width: 400px;
}


/****/





#feature {
    background-color: #f8f8f8;
}

.head-title {
    color: #2b2b2b;
    font-size: 32px;
    font-weight: 700;
}

.botm-line {
    background-color: #2b2b2b;
    width: 34px;
    height: 3px;
    display: inline-block;
}

.section-title:hover .botm-line {
    width: 70px;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

p {
    color: #888;
}

.icon {
    position: relative;
    height: 48px;
    width: 48px;
    float: left;
    margin-top: 14px;
    margin-bottom: 20px;
}

    .icon i {
        font-size: 35px;
    }

.icon-text {
    margin-left: 73px;
    padding: 0px 25px 25px 0px;
}

h3.txt-tl {
    font-size: 24px;
    line-height: 1.35;
}


.section {
    position: relative;
    padding: 88px 0 67px 0;
    display: block;
}

.cta-txt h3 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
}

.cta-txt p {
    color: #fff;
}
/****/
.portfolio-box {
    margin-bottom: 15px;
}

.padding-right-zero {
    padding-right: 0px;
}

.black {
    color: #000 !important;
    font-weight: 600;
}



a, a:hover {
    color: #FFD34E;
}

.cont-title {
    font-size: 24px;
    padding: 15px 0px;
}

.location-info p span {
    display: inline-block;
}

.location-info p span {
    width: 40px;
    font-size: 24px;
    color: #666;
    vertical-align: middle;
}

.location-info p {
    margin-bottom: 5px;
}

.location-info p {
    font-size: 18px;
    line-height: 32px;
    color: #000;
}

.contact-icon-container {
    position: absolute;
    top: -38px;
    right: 0;
    padding-right: 20px;
    font-size: 320px;
    color: #555;
    line-height: 300px;
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

/****/


/*Ultimas noticias*/
.btn-ghost {
    color: #FFBF00;
    background-color: transparent;
    border-color: #FFBF00;
}

    .btn-ghost:hover,
    .btn-ghost:focus,
    .btn-ghost:active,
    .btn-ghost.active,
    .open .dropdown-toggle.btn-ghost {
        color: #FFF;
        background-color: rgba(0, 0, 0, 0);
        border-color: #FFBF00;
    }

    .btn-ghost:active,
    .btn-ghost.active,
    .open .dropdown-toggle.btn-ghost {
        background-image: none;
    }

    .btn-ghost.disabled,
    .btn-ghost[disabled],
    fieldset[disabled] .btn-ghost,
    .btn-ghost.disabled:hover,
    .btn-ghost[disabled]:hover,
    fieldset[disabled] .btn-ghost:hover,
    .btn-ghost.disabled:focus,
    .btn-ghost[disabled]:focus,
    fieldset[disabled] .btn-ghost:focus,
    .btn-ghost.disabled:active,
    .btn-ghost[disabled]:active,
    fieldset[disabled] .btn-ghost:active,
    .btn-ghost.disabled.active,
    .btn-ghost[disabled].active,
    fieldset[disabled] .btn-ghost.active {
        background-color: transparent;
        border-color: #FFBF00;
    }

    .btn-ghost .badge {
        color: transparent;
        background-color: #FFBF00;
    }

    .btn-ghost:hover,
    .btn-ghost:focus,
    .btn-ghost:active,
    .btn-ghost.active,
    .open .dropdown-toggle.btn-ghost {
        color: #fff;
        background-color: #FFBF00;
        border-color: #FFBF00;
    }

/**/

.post {
    margin-bottom: 60px;
    text-align: center;
}

    .post h3 {
        font-size: 21px;
    }

        .post h3 a {
            color: #000;
        }

    .post .author-category {
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #999999;
        font-size: 13px;
        margin-bottom: 5px;
        text-align: center;
    }

        .post .author-category a {
            color: #555555;
        }

            .post .author-category a:hover {
                color: #ef5285;
            }

    .post .date-comments {
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #999999;
        font-size: 13px;
        text-align: center;
    }

        .post .date-comments a {
            color: #999999;
            margin-right: 20px;
        }

            .post .date-comments a:hover {
                color: #ef5285;
            }

    .post .post__intro {
        font-size: 15px;
        color: #999999;
    }

    .post .image {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
    }

        .post .image img {
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

@media (max-width: 767px) {
    .post .image img.img-responsive {
        min-width: 100%;
    }
}








/**footer**/
#footer {
    background-color: #191919;
    padding: 20px 0px;
}

.footer-copyright {
    color: #fff;
    line-height: 32px;
    text-align: left;
}

.footer-social {
    float: right;
}

    .footer-social a {
        font-size: 18px;
        color: #666;
    }

.link-dec, .link-dec:hover {
    color: #000;
}
/****/

@media (min-width: 451px) and (max-width: 900px) {
    .navbar-toggle:hover, .navbar-toggle {
        background-color: transparent;
        color: #FFF;
    }

    .section-title {
        margin-bottom: 15px;
    }
}

@media (min-width: 20px) and (max-width: 450px) {
    .navbar-toggle:hover, .navbar-toggle {
        background-color: transparent;
        color: #FFF;
    }

    .navbar-toggle {
        margin-top: 0px;
    }

    .navbar-default .navbar-nav > li > a {
        text-align: center;
        background-color: #FFF;
        color: #000;
    }

        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            background-color: #FFF;
            color: #FFD34E;
        }

    .top-title {
        font-size: 15px;
    }

    .title {
        font-size: 50px;
    }

    .sub-title {
        font-size: 24px;
    }

    .footer-copyright {
        text-align: center;
    }

    .padding-right-zero {
        padding-right: 15px;
    }

    .section-title {
        margin-bottom: 15px;
    }

    .cta-txt h3 {
        font-size: 28px;
    }

    body {
        font-size: 14px;
    }

    h3.txt-tl {
        font-size: 20px;
    }
}
