@{
    ViewBag.Title = "Liceo de puriscal";
}


<section id="intro" class="section intro">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Te damos la bienvenida</h3>
            <p>Al nuevo campus en donde podra realizar...</p>
        </div>
    </div>
</section>




<div class="container" style="padding-top:50px;">

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Informacion</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-building text-services text-warning mb-3 sr-icons"></i>
                        <h3 class="mb-3">Vida estudiantil</h3>
                        <p class="text-muted mb-0">Los estudiantes ads</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-newspaper text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Estar al tanto de las noticias</h3>
                        <p class="text-muted mb-0">Por medio de las noticias publicadas</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center ">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-address-card text-success mb-3 sr-icons"></i>
                        <h3 class="mb-3">Matricula</h3>
                        <p class="text-muted mb-0">El proceso de matricula</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-graduation-cap text-primary"></i>
                        <h3 class="mb-3">Bachillerato internacional</h3>
                        <p class="text-muted mb-0">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>


<section class="section--padding-bottom-small">
    <div class="container">
        <h1 class="text-center">Ultimas noticias</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="post">
                    <div class="image"><a href="text.html"><img src="~/Images/hd.jpg" alt="" class="img-responsive"></a></div>
                    <h3><a href="text.html">Rit eget tincidunt condimentum</a></h3>
                    <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more"><a href="text.html" class="btn btn-ghost">Leer mas</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post">
                    <div class="image"><a href="text.html"><img src="~/Images/hd.jpg" alt="" class="img-responsive"></a></div>
                    <h3><a href="text.html">Tempor sit amet</a></h3>
                    <p class="post__intro"> Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                    <p class="read-more"><a href="text.html" class="btn btn-ghost">Leer mas</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post">
                    <div class="image"><a href="text.html"><img src="~/Images/hd.jpg" alt="" class="img-responsive"></a></div>
                    <h3><a href="text.html">Vestibulum erat wisi</a></h3>
                    <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more"><a href="text.html" class="btn btn-ghost">Leer mas</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

