@{
    ViewBag.Title = "Liceo de puriscal";
}


<section id="intro" class="section intro">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Te damos la bienvenida</h3>
            <p>Al nuevo campus en donde podra realizar pruebas...</p>
        </div>
    </div>
</section>




<div class="container" style="padding-top:50px;">

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Informacion</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-building text-services text-warning mb-3 sr-icons"></i>
                        <h3 class="mb-3">Vida estudiantil</h3>
                        <p class="text-muted mb-0">Los estudiantes ads</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                      <a onclick="location.href='@Url.Action("Index","Noticia")'"><i class="fa fa-4x fa-newspaper text-services-noticias text-services mb-3 sr-icons"></i></a>
                        <h3 class="mb-3">Noticias</h3>
                        <p class="text-muted mb-0">Puedes estar al tanto de las diferentes acontecimientos que suceden
                         en la institucion</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center ">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-address-card text-success text-services mb-3 sr-icons"></i>
                        <h3 class="mb-3">Matricula</h3>
                        <p class="text-muted mb-0">El proceso de matriculas</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-graduation-cap text-primary text-services"></i>
                        <h3 class="mb-3">Bachillerato internacional</h3>
                        <p class="text-muted mb-0">Conoce mas acerca sobre Bachillerato internacional!</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6  col-md-offset-3 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-handshake text-services-apoyo text-services"></i>
                        <h3 class="mb-3">Apoyo educativo</h3>
                        <p class="text-muted mb-0">Conoce mas acerca de la diferentes ayudas que puedes obtener!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fas fa-users text-services-liceoycomunidad text-services"></i>
                        <h3 class="mb-3">Liceo y comunidad </h3>
                        <p class="text-muted mb-0">Ve cuales actividades se ofrecen en el liceo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>


<section class="section--padding-bottom-small wow fadeInUp">
    <div class="container">
        <h1 class="text-center">Ultimas noticias</h1>
        <div class="row">

            @*@foreach(){}*@

            <div class="col-sm-4">
                <div class="post">
                    <div class="image"><a href="text.html"><img src="~/Images/hd.jpg" alt="" class="img-responsive"></a></div>
                    <h3><a href="text.html">Noticia 1</a></h3>
                    <p class="post__intro">Intro noticia 1</p>
                    <p class="read-more"><a href="text.html" class="btn btn-ghost">Leer mas</a></p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="post">
                    <div class="image"><a href="text.html"><img src="~/Images/hd.jpg" alt="" class="img-responsive"></a></div>
                    <h3><a href="text.html">Noticia 2</a></h3>
                    <p class="post__intro"> Intro noticia 2</p>
                    <p class="read-more"><a href="text.html" class="btn btn-ghost">Leer mas</a></p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="post">
                    <div class="image"><a href="text.html"><img src="~/Images/hd.jpg" alt="" class="img-responsive"></a></div>
                    <h3><a href="text.html">Noticia 3</a></h3>
                    <p class="post__intro">Intro noticia 3</p>
                    <p class="read-more"><a href="text.html" class="btn btn-ghost">Leer mas</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

