
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Material Doc</th>
                <th scope="col">Eliminar</th>

            </tr>
        </thead>
        <tbody>

            @*@foreach (var item in lista)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nomSeccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.nomMateria)</td>
                    <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
                </tr>
            }*@

        </tbody>
    </table>
</div>

