<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="Bela.DAL.BD.conexion" connectionString="Data Source=LAPTOP-N3IP93PU\SQLEXPRESS_EDDY;Initial Catalog=BELA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>