@model Bela.UI.Models.MensajeContacto

@{
    ViewBag.Title = "Liceo de puriscal";
    Layout = "~/Views/Shared/_Contacto.cshtml";
}

@using (Html.BeginForm("EnvioMensaje", "Contacto", FormMethod.Post))
{
    Html.ValidationSummary(true);
    Html.EnableClientValidation(true);

     
    <section class="section-padding" id="contact">
        <div class="container">
            @if (Session["MensajeEnviado"] != null)
            {
                <div class="text-center" style="color:green;">Mensaje Enviado</div>
            }
            <div class="row white">
                <div class="col-md-8 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title black">Contactenos</h2>
                        <hr class="botm-line">
                        <p class="sec-para black">Utilice este medio para obtener mas informacion sobre la institucion</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                        <h3 class="cont-title">Correo</h3>
                      
                        <div id="errormessage"></div>
                        <div class="contact-info">
                            <form action="" method="post" role="form" class="contactForm">

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.correo, new { @type = "email", @class = "form-control", @name = "email", id = "email", @placeholder = "Correo" })
                                    @Html.ValidationMessageFor(model => model.correo)
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.asunto, new { @type = "text", @class = "form-control", @name = "subjet", id = "subjet", @placeholder = "Asunto" })
                                    @Html.ValidationMessageFor(model => model.asunto)
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    @if (Session["errorMensaje"] != null) { 
                                    <div class="error" style="color:red;">Ingrese un mensaje</div>
                                    }
                                </div>

                                <button type="submit" class="btn btn-ghost">Enviar</button>

                            </form>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3 class="cont-title">Visitanos</h3>
                        <div class="location-info">
                            <p class="white"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>Puriscal,200 metros oeste Municipalidad de Puriscal</p>
                            <p class="white"><span aria-hidden="true" class="glyphicon glyphicon-earphone"></span>Telefono: 2416-5424</p>
                            <p class="white"><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>Correo: <a href="" class="link-dec">Puris@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                            <span aria-hidden="true" class="glyphicon glyphicon-comment"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}