
@model Bela.UI.Models.DetalleMaterial

@{
    ViewBag.Title = "Detalle material";
    Layout = "~/Views/Shared/_Perfil.cshtml";
}


<div class="container">
    <div class="text-center">
        <h1 class="titulos">@Html.DisplayFor(model => model.titulo)</h1>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="parrafos margin-bottom--big">@Html.DisplayFor(model => model.mensaje)</p>
        </div>
    </div>

    <div class="text-center">
        <div class="titulos"><h3>Materiales</h3></div>
        <p><span class="glyphicon glyphicon-chevron-down"></span></p>
    </div>

    <div class="col-md-4"></div>

</div>


<section id="Materiales">
    <div class="container">

        <div class="row">



            <div class="col-md-4 space">
                <div class="text-center">
                    <span class="far fa-file icon-size-materiales"></span>
                    <h2><a href="@Html.DisplayFor(model => model.material)">@Html.DisplayFor(model => model.material)</a></h2>


                </div>
            </div>




        </div>
    </div>
</section>

<div class="container" style="margin-bottom:450px;"></div>

